{% extends 'base.html' %}

{% load static %}
{% block content %}

    <!-- slider_area_start -->
    <div class="slider_area">
        <div >
            <div class="single_slider overlay"  style="background-image: url({% static 'img/car.jpg' %});">
                <div class="container">

                    <div>

<!--                        <div style="padding-top: 5px;"  >-->
                            <div class="slider_text" >

                                
                                <a href="SignUp" class="boxed-btn3">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- slider_area_end -->

{% endblock %}